/* nav bar formatting */

* {
    margin: 0;
    padding: 0;
}

nav {
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    padding: 10px;
    background-color: #0D1A22;
    color: aliceblue;
    height: 55px;
}

    nav h1 {
        margin: 20px auto 5px auto;
        margin-left: 5px;
    }

    nav img {
        width: 50px;
        height: 50px;
        margin: 5px;
    }

    nav ul {
        list-style-type: none;
        padding: 0px;
    }

        nav ul li {
            display: inline;
            padding-right: 10px;
        }

    nav a {
        text-decoration: none;
        color: aliceblue;
        font-weight: bold;
    }

    nav input {
        -webkit-appearance: none;
        border: none;
        height: 45px;
        width: 200px;
        border-radius: 5px;
        padding: 5px;
        padding-right: 200px;
    }

    nav button {
        -webkit-appearance: none;
        border: none;
        height: 35px;
        width: 55px;
        border-radius: 5px;
        background-color: cadetblue;
        color: aliceblue;
        padding: 5px;
        position: absolute;
    }

#searchElements {
    position: relative;
}

#clearButton {
    top: 10px;
    right: 25px;
}

#searchButton {
    top: 10px;
    right: 85px;
}

#navLinksContainer {
    margin: 20px auto 5px auto;
}

#searchContainer {
    margin-left: auto;
    margin-top: auto;
    margin-bottom: auto;
}

#navLogoContainer {
    display: flex;
}

/* general formatting */

body {
    font-family: Arial, sans-serif;
    background-image: linear-gradient(to right, rgba(95,158, 160, 100%), rgba(95, 158, 160, 0%)), url("./Images/background.jpg");
}

#siteIntro {
    color: aliceblue;
}

    #siteIntro * {
        margin-left: 200px;
        text-shadow: 1px 1px 1px rgba(13, 36, 34, 0.5);
    }

    #siteIntro h1 {
        font-size: 64pt;
        margin-top: 200px;
    }

    #siteIntro h2 {
        font-size: 24pt;
        margin-top: 15px;
    }

    #siteIntro p {
        margin-top: 50px;
        width: 700px;
        font-size: 14pt;
    }

#socialLinks {
    position: fixed;
    top: 300px;
    margin: 20px;
}

    #socialLinks ul {
        list-style-type: none;
    }

    #socialLinks img {
        width: 50px;
        height: 50px;
        padding: 10px;
    }

/* about us formatting*/

#aboutUsContainer {
    color: aliceblue;
    margin-left: 200px;
    text-shadow: 1px 1px 2px rgba(13, 36, 34, 0.5);
}

    #aboutUsContainer h1 {
        font-size: 64pt;
        margin-top: 60px;
    }

    #aboutUsContainer h2 {
        margin-top: 50px;
        font-size: 32pt;
    }

#cardStack {
    display: flex;
}

.idCard {
    background-color: rgba(13, 36, 34, 0.6);
    padding: 10px;
    margin: 10px;
    border-radius: 5px;
    width: 400px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    border: 1px solid cadetblue;
}

    .idCard p {
        margin-top: 10px;
        font-size: 11pt;
        font-weight: normal;
        color: rgba(240, 248, 255, 80%);
        min-height: 150px;
    }

    .idCard h4 {
        margin-top: 20px;
        text-align: center;
        background-color: cadetblue;
        padding: 8px;
        border-radius: 5px;
        width: 200px;
        border: 1px solid aliceblue;
    }

    .idCard img {
        width: 100px;
        float: left;
        margin-right: 10px;
        border-radius: 5px;
        border: 1px solid cadetblue;
    }

#contactUsContainer {
    margin-left: 200px;
    display: flex;
}

    #contactUsContainer * {
        color: aliceblue;
        text-shadow: 1px 1px 2px rgba(13, 36, 34, 0.5);
    }


    #contactUsContainer h1 {
        font-size: 64pt;
        margin-top: 60px;
    }

    #contactUsContainer input, textarea, button {
        -webkit-appearance: none;
        background-color: rgba(13, 36, 34, 0.6);
        border-radius: 5px;
        border: 1px solid rgba(240, 248, 255, 50%);
        padding: 10px;
        margin-top: 10px;
        margin-bottom: 10px;
    }

    #contactUsContainer button {
        background-color: cadetblue;
    }

    #contactUsContainer ::placeholder {
        color: rgba(240, 248, 255, 70%);
    }

.pageIntro {
    margin-top: 50px;
    width: 700px;
    font-size: 14pt;
}

#contactForm {
    margin-top: 200px;
    display: flex;
    flex-direction: column;
    width: 400px;
}
